@using CretaceousClient.Models;
@model Animal;

<ul>
  <li>ID: @Model.AnimalId</li>
  <li>Name: @Model.Name</li>
  <li>Species: @Model.Species</li>
  <li>Age: @Model.Age</li>
  <li>Gender: @Model.Gender</li>
</ul>